<div class="container" (click)="handleContainerClick($event)">
    <div [ngClass]="{'big-popup': hideInfo}" class="popup" (click)="handleContainerClick($event)">
        <div [ngClass]="{'full-fill': hideInfo}" class="top-container">

            <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="{{ thumb }}"
                data-setup="{}">
                <source src="{{ video }}" type="video/mp4" />
                <source src="MY_VIDEO.webm" type="video/webm" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>



        </div>
        <div [ngClass]="{'hide-infobox': hideInfo}" class="bottom-container">
            <div class="left-side">
                @if (!hideInfo) {
                <div class="row box">
                    <span class="categories" >Actors: </span>
                    <div class="text">{{ ps.videoDetail?.actors }}</div>
                </div>

                <div class="row box">
                    <span class="categories">Description: </span>
                    <div class="text">{{ ps.videoDetail?.description }}</div> 
                </div>

                <div class="row box">
                    <span class="categories">Genre: </span>
                    <div class="text">{{ ps.videoDetail?.genre }}</div> 
                </div>
                }
            </div>

            <div class="right-side">
                @if (!resolution) {
                <div class="row quality"><span (click)="showResolution($event)" class="text-button">QUALITY</span></div>
                }


                @if (resolution) {
                <div [ngClass]="{'hide-resolution': hideResolution}" class="resolutions">
                    <span [ngClass]="{'selected': low}" class="text-button"
                        (click)="changeResolution('_480p.mp4' , $event); low =true;">low</span>
                    <span [ngClass]="{'selected': middle}" class="text-button"
                        (click)="changeResolution('_720p.mp4' , $event); middle = true;">middle</span>
                    <span [ngClass]="{'selected': high}" class="text-button"
                        (click)="changeResolution('.mp4' , $event); high=true; ">high</span>
                </div>
                }
            </div>

            <div class="arrow-button">
                <img (click)="hideInfoBox()" src="assets/img/arr.png" alt="">
            </div>

        </div>

    </div>

    @if (hideInfo) {
    <div class="arrow-button">
        <img style="transform: rotate(180deg);" (click)="showInfoBox($event)"
            src="assets/img/arr.png" alt="">
    </div>
    }

</div>