@import "../../var.scss";

.container {
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    @include center();
    filter: blur(0.7);
}

.popup {
    transition: all 300ms ease-in-out;
    height: 80%;
    width: 60%;
    background-color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    @include center-column();
    @media (max-width:1000px) {
        height: 90%;
        width: 90%;
    }
}

.big-popup {
    width: 80%;
    @media (max-width:1000px) {
        width: 100% !important;
        height: 100% !important;
    }
}

.top-container {
    height: 80%;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    transition: all ease-in-out 300ms;
}

.box {
    height: auto !important;
    align-items: flex-start !important;
    @media (max-width:1300px) {
        flex-direction: column;
    }
}

.bottom-container {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(black, rgb(22, 22, 22));
    @include full-width($padding: 20px);
    @include center();
    height: 30%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;

    span {
        font-weight: bold;
    }
}

.left-side {
    overflow-y: scroll;
    height: 100%;
    width: 50%;
    @include center-column();
    gap: 10px;
    .row {
        align-items: flex-start;
    }

}

.categories {
    font-weight: bold;
    width: 25%;
}

.text {
    font-size: 12px;
    font-weight: 300;
    width: 90%;
    @media (max-width:800px) {
        width: 95%;
    }
}

.right-side {
    height: 100%;
    width: 50%;
    @include center($ai: flex-start);
}

.resolutions {
    @include center($jc: flex-end);
    @include full-width();
    animation: slide-in ease-in-out 200ms;

    span {
        font-weight: 400;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.hide-resolution {
    animation: slide-out ease-in-out 200ms;
    opacity: 0;
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(10%);
        opacity: 0;
    }
}


.hide-infobox {
    animation: slide-down 200ms ease-in-out;
    opacity: 0;
}

@keyframes slide-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;    
        transform: translateY(10%);
    }
}

.full-fill {
    height: 100% !important;
}

.quality {
    display: flex;
    justify-content: flex-end !important;
    height: 50px;

    span {
        font-weight: 200 !important;
        font-size: 12px;

    }

}

.arrow-button {
    position: absolute;
    bottom: 10px;
    left: 0;
    @include full-width();
    @include center();

    img {
        opacity: 0.3;
        cursor: pointer;
        width: 20px;
        transition: all 200ms ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}

.selected {
    color: $red;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}