@import "./../../var.scss";

header {
    @include full-width($height: 80px);
    @include center();
    background-color: black;
}

.left {
    @include full-width($padding: 10px);
    @include center($jc:space-between);
}


.right {
    @include full-width($padding: 10px);
    @include center($jc:flex-end);
}

.movieflix {
    color: $red;
    font-size: 30px;
    font-weight: bold;
    padding-left: 25px;
    @include center();
}
