@import "../../var.scss";

.full {
    animation: opacity-in ease-in-out 500ms;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient($bg-black ,  rgb(61, 61, 61)) ;
    opacity: 0.7;
    @include center();
}

@keyframes opacity-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

.loader {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid $red;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }