<div class="container">
    <div class="row center">
        <h1>ABOUT</h1>
    </div>

    <div class="text">
        Videoflix is a comprehensive platform designed for video streaming across various quality settings.
        With its user-friendly interface, users can effortlessly upload their videos directly through the frontend.
        Behind the scenes, our backend system utilizes Django signals to efficiently convert uploaded videos into
        multiple resolutions upon request. <br>

        To enhance performance, we've implemented a sophisticated caching layer using Redis, optimizing the delivery of
        video content through cached responses to get requests at the video endpoint. All data is stored in a
        PostgreSQL database on the server side. Our backend is developed using Python in conjunction with Django Rest
        Framework, ensuring stability and scalability. <br>

        On the frontend, i've crafted an user experience with Angular 17, leveraging standalone components
        for enhanced modularity and flexibility. <br>

        Videoflix offers a convenient search feature, allowing users to explore a vast library of video titles directly
        from the database. The intuitive search bar dynamically filters results with each keystroke, triggering requests
        to the backend. This ensures users receive instant access to precisely tailored content, enhancing
        their browsing experience. <br>

        In addition to its streaming features, Videoflix offers seamless authentication functionalities. Users can
        easily sign up with email verification and conveniently reset their passwords, ensuring a secure and hassle-free
        experience.
    </div>

</div>