<div [ngClass]="{'ai-start': directTo == 'signUp'}" class="container">
    <img class="bg-image" src="assets/img/cinema.jpg" alt="">

    @if(directTo == 'login') {

    <form [formGroup]="loginForm" class="login" (ngSubmit)="logIn()">
        <h1>LOGIN</h1>
        <input placeholder="e-mail..." type="email" formControlName="email"
            [ngClass]="{'invalid':  isInvalid('email') , 'valid': isValidInput('email') }">
        <div class="error-container">

            <div *ngIf="requiredErrors('email')" class="errors">email is required</div>
            <div *ngIf="emailError('email')" class="errors">please use a valid email</div>
        </div>

        <input placeholder="password..." type="password" formControlName="password"
            [ngClass]="{'invalid':  isInvalid('password') , 'valid': isValidInput('password') }">

        <div class="error-container">
            <div *ngIf="requiredErrors('password')" class="errors">password is required</div>
            <div *ngIf="minLengthError('password')" class="errors">password must have a minimum of 5 characters</div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <a (click)="forgotPW()" >forgot password?</a>
        </div>
        
        <div class="question">Do you haven't registered yet? Please click <a (click)="direct('signUp'); ">here</a> to
            sign up.</div>
        <div class="row"><a (click)="guestLogin()" class="guest">GUEST LOGIN</a></div>
        <button [ngClass]="{'valid-form-button': loginForm.valid}" type="submit">LOGIN</button>
    </form>

    }


    @else if(directTo == 'signUp'){
    @if (!this.as.mailSendFeedback) {

    <form class="login sign-up" [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <h1>SIGN UP</h1>
        <input placeholder="firstname" type="text" formControlName="firstname"
            [ngClass]="{'invalid': isInvalid('firstname'), 'valid': isValidInput('firstname') }">

        <div class="error-container">
            <div *ngIf="requiredErrors('firstname')" class="errors">firstname is required</div>
            <div *ngIf="minLengthError('firstname')" class="errors">firstname must have a minimum of 4 characters</div>
        </div>


        <input placeholder="lastname" type="text" formControlName="lastname"
            [ngClass]="{'invalid': isInvalid('lastname'), 'valid': isValidInput('lastname') }">
        <div class="error-container">
            <div *ngIf="requiredErrors('lastname')" class="errors">lastname is required</div>
            <div *ngIf="minLengthError('lastname')" class="errors">lastname must have a minimum of 4 characters</div>
        </div>



        <input placeholder="e-mail" type="email" formControlName="email"
            [ngClass]="{'invalid': isInvalid('email'), 'valid': isValidInput('email') }">
        <div class="error-container">
            <div *ngIf="requiredErrors('email')" class="errors">email is required</div>
            <div *ngIf="emailError('email')" class="errors">please use a valid email</div>
        </div>


        <input placeholder="set password" type="password" formControlName="password"
            [ngClass]="{'invalid': isInvalid('password'), 'valid': isValidInput('password') }">
        <div class="error-container">
            <div *ngIf="requiredErrors('password')" class="errors">password is required</div>
            <div *ngIf="minLengthError('password')" class="errors">your password must have a minimum of 8 characters
            </div>
        </div>


        <input placeholder="repeat password" type="password" formControlName="repeatpassword"
            [ngClass]="{'invalid': !passwordRepeat('repeatpassword' , 'password') && isInvalid('repeatpassword')  , 'valid': passwordRepeat('repeatpassword' , 'password') }">
        <div class="error-container">
            <div *ngIf="requiredErrors('repeatpassword')" class="errors">please repeat your password</div>
            <div *ngIf="!passwordRepeat('repeatpassword' , 'password') && this.signUpForm.get('repeatpassword')?.value?.length > 1"
                class="errors">that's not the same password</div>
        </div>



        <div class="question">Do you have registered already? Please click <a (click)="direct('login'); ">here</a> to
            log in.</div>


        <button type="submit" [ngClass]="{'valid-form-button': isFormValid() }">SIGN UP</button>
    </form>

    } @else {
    <div class="login">
        <span class="message">
            We have sent a confirmation mail! Please check your mail to verify your account.
        </span>
        <button (click)="redirect()">Back to Login</button>
    </div>
    }

    }


</div>