@import "../../var.scss";

.container {
    @include full-width();
    @include center();
    height: 100vh;
}

.login {
    width: 30%;
    min-width: 450px;
    background-color: rgba(0, 0, 0, 0.598);
    box-shadow: 1px 1px 10px  rgb(10, 10, 10);
    border-radius: 20px;
    padding: 20px;
    @include center-column();

    @media (max-width:600px) {
        min-width: unset;
        width: calc(90% - 40px);
        box-shadow: none;
    }
}

.ai-start {
    align-items: center;
    @media (max-width:600px){
        align-items: flex-start;
    }
}


input {
    height: 40px;
    width: 70%;
    margin-top: 30px;
    border: 1px solid $bg-black;
    @media (max-width:600px) {
        width: 90%;
    }
}

.guest {
    font-size: 12px;
    font-weight: bold;
    color: grey;
    margin-top: 15px;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.question {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;

    @media (max-width:600px) {
        font-size: 12px;
    }
}

a {
    color: red;
    cursor: pointer;
}

.message {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.row {
    font-size: 10px;

    a {
        color: grey;
        &:hover {
            color: $red;
        }
    }

    font-weight: 300;
    justify-content: center;
}