@import "../../var.scss";

.thumbnail {
    height: 100%;
    width: 160px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;

    img {
        max-width: 160px;
        z-index: 2;
        height: 100%;
        border-radius: 5px;
    }

    position: relative;

    &:hover {
        .thumb-title {
            cursor: pointer;
            height: 100%;
            @include center($ai: center);

        }
    }
}

.thumb-title {
    transition: all ease-in-out 200ms;
    z-index: 3;
    height: 50%;
    background-image: linear-gradient(rgba(89, 89, 89, 0.053), rgba(0, 0, 0, 0.917));
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    right: 0;
    width: auto;
    @include center($ai: flex-end);

    span {
        margin-bottom: 15px;
        font-size: 15px;
    }
}