@import "../../var.scss";

.thumbnail {
    height: 150px;
    width: 250px;
    overflow: hidden;
    object-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(66, 66, 66);
    box-shadow: 1px 1px 10px black;
    position: relative;
    @include center();
    
    &:hover {
        .thumb-title {
            cursor: pointer;
            height: 100%;
            @include center($ai: center);
        }
    }
}

.thumb-title {
    transition: all ease-in-out 200ms;
    z-index: 3;
    height: 50%;
    background-image: linear-gradient(rgba(89, 89, 89, 0.053), rgba(0, 0, 0, 0.917));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    @include center($ai: flex-end);

    span {
        margin-bottom: 15px;
        font-size: 15px;
    }
}