<div class="container">
    
    <form [formGroup]="pwResetForm" class="login" (ngSubmit)="resetPassword()">
        <h1>RESET PASSWORD</h1>
        <input placeholder="set password" type="password" formControlName="password"
            [ngClass]="{'invalid': isInvalid('password'), 'valid': isValidInput('password') }">
            <div class="error-container">
                <div *ngIf="requiredErrors('password')"
                    class="errors">password is required</div>
                <div *ngIf="minLengthError('password')"
                    class="errors">your password must have a minimum of 8 characters</div>
            </div>


        <input placeholder="repeat password" type="password" formControlName="repeatpassword"
            [ngClass]="{'invalid': !passwordRepeat('repeatpassword' , 'password') && isInvalid('repeatpassword')  , 'valid': passwordRepeat('repeatpassword' , 'password') }">
            <div class="error-container">
                <div *ngIf="requiredErrors('repeatpassword')"
                    class="errors">please repeat your password</div>
                <div *ngIf="!passwordRepeat('repeatpassword' , 'password') && this.pwResetForm.get('repeatpassword')?.value?.length > 1"
                    class="errors">that's not the same password</div>
            </div>
            <div class="question">click <a (click)="directToLogin()">here</a> to navigate to login-page</div>
            <button type="submit" [ngClass]="{'valid-form-button': isFormValid() }">CONFIRM</button>
    </form>
</div>
