<div [ngClass]="{'blur': this.popup.bg}">


    @if(this.authService.userisLoggedIn){
    <app-header></app-header>
    }

    @if(this.authService.userisLoggedIn){
        <app-bottom-bar></app-bottom-bar>
    }

    <router-outlet></router-outlet>
</div>

@if (popup.bg) {
<div class="popup-bg" (click)="popup.closePopups()"></div>
}

@if (popup.videoDetail && popup.bg) {
<app-video-detail class="popup"></app-video-detail>
}

<div *ngIf="popup.userPopup" class="logout">
    @if (!deleteUserQuestion) {
    <div class="row"><span class="text-button" (click)="navigateToLegals()">legal notice</span></div>
    <div *ngIf="!deleteUserQuestion" class="row">
        <span *ngIf="authService.isGuestUser() === null" (click)="deleteUserQuestion = true;" class="text-button">delete account</span>
    </div>

    <div class="row">
        <span *ngIf="!deleteUserQuestion" (click)="authService.logOut(); this.popup.closePopups()"
            class="text-button">log out</span>
    </div>

    } @else {
    <div class="row" style="padding-top: 10px;">Are you really sure?</div>
    <div class="row">
        <span class="text-button answer" (click)="authService.deleteUser()">yes</span>
        <span class="text-button answer" (click)="deleteUserQuestion = false;">no</span>
    </div>


    }
    
</div>

<app-loader class="full-screen" *ngIf="this.authService.loader"></app-loader>

<div *ngIf="popup.errorMessage" class="error-popup">{{ popup.errorMessage }}</div>
<div *ngIf="popup.message" class="message-popup">{{ popup.message }}</div>