@import "../var.scss";

.blur {
    animation: blur 200ms ease-in-out;
    filter: blur(8px);
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(8px);
    }
}


.popup-bg {
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}


.popup {
    z-index: 200;
}