<app-header></app-header>
<div class="content">
    <div class="row-container">
        <div class="video-rows">
            <div class="category">Movies</div>
            <app-video [video]="3"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
        </div>
    </div>
    <div class="row-container">
        <div class="video-rows">
            <div class="category">Documentation</div>
            <app-video [video]="4"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
        </div>
    </div>

    <div class="row-container">
        <div class="video-rows">
            <div class="category">Nature</div>
            <app-video [video]="3"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="2"></app-video>
            <app-video [video]="3"></app-video>
            <app-video [video]="4"></app-video>
        </div>
    </div>
    
   

    
</div>