<div class="container">
    <form [formGroup]="emailForm" class="login" (ngSubmit)="reset()">
        <h1>FORGOT PASSWORD</h1>
        <input placeholder="e-mail..." type="email" formControlName="email"
            [ngClass]="{'invalid':  isInvalid('email') , 'valid': isValidInput('email') }">
        <div class="error-container">

            <div *ngIf="requiredErrors('email')" class="errors">email is required</div>
            <div *ngIf="emailError('email')" class="errors">please use a valid email</div>
        </div>

        <div class="question">
            Click <a (click)="navigateToLogin()" >here</a> to go back to login
        </div>
        <div class="question">
            We will send you a email with instructions to reset your password after you have clicked the button below.
        </div>

        <button [ngClass]="{'valid-form-button': emailForm.valid}" type="submit">RESET</button>
    </form>
</div>