@import "../../var.scss";


.content {
    @include full-width();
    @include center-column();
    height: calc(100vh - 80px);
    overflow:scroll;
}

.row-container {
    position: relative;
    padding: 10px;
    margin:10px;
    margin-bottom: 0px;
    @include full-width($padding:10px , $margin:10px);
    @include center-column($jc:flex-start);
    min-height: 210px;
    background-color: $bg-black;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
}

.video-rows {
    overflow-x: scroll;
    gap: 30px;
    @include full-width($padding:10px , $margin:10px);
    @include center($jc:flex-start);
    height: 95%;   
}

.novideos {
    @include center();
    .row {
        margin-top: 20px;
        justify-content: center;
    }
}

.category {
    margin-left: 10px;
    margin-right: 10px;
    @include full-width($margin:10px);
    height: calc(5% - 20px);
    @include center($jc:flex-start);
    font-weight: bold;
    font-size: 20px;
}

.app-video {
    height: 100%;
    width: 200px;
}



/* HTML: <div class="loader"></div> */
.loader {
    width: 120px;
    height: 20px;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #f2f2f2;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
  }
  @keyframes l1 {
    0% {background-position: right}
  }