@import "../../var.scss";


.container {
    @include full-width();
    @include center();
    height: calc(100vh - 80px);
}

.input-container {
    @include center-column();
    width: 70%;
    height: 80%;
    background-color: black;
    border-radius: 20px;
}

.top {
    @include full-width();
    height: 20%;
    text-align: center
}
.bottom {
    @include full-width();
    @include center();
    height: 80%;
}

.left {
    width: 50%;
    height: 100%;
    gap: 20px;
    @include center-column();
}

.right {
    width: 50%;
    height: 100%;
    @include center-column();
    gap: 20px;
}

input {
    width: 90%;
    height: 50px;
}

input[type='file'] {
    width: 90px;
    @include center();
}

