<div class="container">
    <div class="input-container">
        <div class="top">
            <h1>UPLOAD YOUR VIDEO</h1>
        </div>

        @if (!inputFinished) {
        <form [formGroup]="movieForm" (ngSubmit)="onSubmit()" class="bottom">
            <div class="left">
                <input type="text" placeholder="Title" formControlName="title"
                    [ngClass]="{'invalid': checkForValidation('title'), 'valid':!checkForValidation('title') && isDirty('title')}">
                <div class="error-container">
                    <div *ngIf="checkForValidation('title')" class="errors">title is required</div>
                </div>

                <input type="text" placeholder="Actors" formControlName="actors"
                    [ngClass]="{'invalid': checkForValidation('actors'), 'valid':!checkForValidation('actors') && isDirty('actors')}">
                <div class="error-container">
                    <div *ngIf="checkForValidation('actors')" class="errors">actors are required</div>
                </div>

                <select formControlName="genre"
                    [ngClass]="{'invalid': checkForValidation('genre'), 'valid': !checkForValidation('genre') && isDirty('genre')}">
                    <option value="" disabled>select genre</option>
                    <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
                </select>

                <div class="error-container">
                    <div *ngIf="checkForValidation('genre')" class="errors">Genre is required</div>
                </div>
            </div>

            <div class="right">
                <textarea type="text" placeholder="Description" formControlName="description"
                    [ngClass]="{'invalid': checkForValidation('description'), 'valid':!checkForValidation('description') && isDirty('description')}"></textarea>
                <div class="error-container">
                    <div *ngIf="checkForValidation('description')" class="errors">description is required</div>
                </div>



                <div class="row">
                    <label [ngClass]="{'valid': selectedVideo, 'invalid': errorVideo }" for="video"
                        class="custom-file-input">Video auswählen
                        <input type="file" id="video" placeholder="video" (change)="onVideoSelected($event)">
                        @if (selectedVideo) {
                        <img src="assets/img/check.png" alt="">
                        }
                    </label>

                    <label [ngClass]="{'valid': selectedThumbnail , 'invalid': errorThumb }" for="thumb"
                        class="custom-file-input">Thumbnail
                        auswählen
                        <input type="file" id="thumb" placeholder="thumbnail" (change)="onThumbnailSelected($event)">

                        @if (selectedThumbnail) {
                        <img src="assets/img/check.png" alt="">
                        }

                    </label>
                </div>

                <div class="error-container">
                    <span class="errors" *ngIf="errorThumb">{{ errorThumb }}</span>
                    <span class="errors" *ngIf="errorVideo">{{ errorVideo }}</span>
                </div>





                <div class="buttons">
                    <button [ngClass]="{'invalid': errorSubmit, 'valid-form-button':isFormValid()}" type="submit"><img
                            src="assets/img/upload.png" alt=""><span>UPLOAD</span></button>
                </div>

                <div class="error-container"><span *ngIf="errorSubmit" class="errors">{{ errorSubmit }}</span></div>
            </div>
        </form>
        } @else if (inputFinished) {

        <mat-progress-bar class="progress-bar" mode="determinate" value="{{ bs.uploadProgress }}"></mat-progress-bar>
        <div class="upload-percent">{{ bs.uploadProgress }}%</div>
        }




    </div>
</div>