<div class="container">
    <div class="input-container">
        <div class="top">
            <h1>UPLOAD YOUR VIDEO</h1>
        </div>
        <form class="bottom">
            <div class="left">
                <input type="text" placeholder="Title">
                <input type="text" placeholder="Genre">
                <input type="text" placeholder="Regie">
                <input type="text" placeholder="Actors">
            </div>
            <div class="right">
                <textarea type="text" placeholder="Description"></textarea>
                <div class="row">
                    <label for="video" class="custom-file-input">Video auswählen
                        <input type="file" id="video" placeholder="video">
                    </label>
    
                    <label for="thumb" class="custom-file-input">Thumbnail auswählen
                        <input type="file" id="thumb" placeholder="thumbnail">
                    </label>
                </div>
                
                <div class="buttons">
                    <button><img src="assets/img/upload.png" alt=""><span>UPLOAD</span></button>
                </div>
            </div>
            
        </form>
    </div>
</div>