@import "../../var.scss";


.container {
    @include full-width();
    @include center();
    height: calc(100vh - 80px);
}

.input-container {
    @include center-column();
    width: 70%;
    padding: 40px;
    padding-bottom: 120px;
    background-color: black;
    border-radius: 20px;
    position: relative;
}

.top {
    @include full-width();
    height: 20%;
    text-align: center
}
.bottom {
    @include full-width();
    @include center($ai:flex-start);
    height: 80%;
}

.left {
    width: 50%;
    height: 100%;
    gap: 20px;
    @include center-column();
}

.right {
    width: 50%;
    height: 100%;
    @include center-column();
    gap: 20px;
}

input {
    width: 90%;
    height: 50px;
    margin-top: 15px;
}

input[type='file'] {
    display: none;
}

label {
    background-color: $bg-black;
    margin-top: 5px;
    padding: 15px 40px;
    width: 200px;
    @include center();
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        opacity: 0.8 ;
    }
}

button {
    background-color: rgb(171, 171, 171);
    color: black;
    height: 50px;
    border: none;
    font-weight:bold;
    @include center();
    gap: 10px;
    margin-top: 10px;
    &:hover {
        font-weight:bold;
        opacity: 0.8;
    }

    img {
        height: 20px;
    }
}



textarea {
    @extend input;
    border-radius: 10px;
    background-color: rgb(67, 67, 67);
    opacity: 0.8;
    border: none;
    font-size: 15px;
    font-family: sans-serif;
    resize: none;
    height: 80px;
    padding: 10px;
    color: white;
}

textarea:focus {
    border: none;
    opacity: 1;
    outline: none;
}

.row {
    @include center($jc:space-between);
    width: 90%;
    padding: 5px 10px;
}

