

/* You can add global styles to this file, and also import other style files */
@use './var' as *;


body {
    background-color: $bg-black;
    color: white;
    margin: 0;
    font-family: Roboto !important;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    * {
        transition: all ease-in-out 300ms;
    }

}

@font-face {
    font-family: 'roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
}



::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 5px;

}

input,
textarea,
select {
    background-color: rgb(42, 42, 42);
    height: 30px;
    border-radius: 10px;
    box-shadow: none;
    border:1px solid rgb(147, 147, 147);
    padding: 5px 10px;
    color: white;
    opacity: 0.8;
}

input:focus {
    outline: none;
    box-shadow: none;
    opacity: 1;
}

button {
    background-color: $bg-black;
    color: white;
    border: white 1px solid;
    box-shadow: none;
    padding: 10px 30px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        border: $bg-black 1px solid;
        color: $bg-black;
        background-color: white;
        font-weight: bold;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}