/* You can add global styles to this file, and also import other style files */
@import "./var.scss";


body {
    background-color: $bg-black;
    color: white;
    margin: 0;
    font-family: $font;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}


// --sb-track-color: #252525;
// --sb-thumb-color: #616161;
// --sb-size: 1px;

// scrollbar-color: var(--sb-thumb-color) 
//                  var(--sb-track-color);


::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background:  #616161;
    border-radius: 5px;

}

input , select {
    background-color: rgb(67, 67, 67);
    height: 30px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    padding: 5px 10px;
    color: white;
    opacity: 0.8;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
    opacity: 1;
}

button {
    background-color: $bg-black;
    color: white;
    border: white 1px solid;
    box-shadow: none;
    padding: 10px 30px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        border: $bg-black 1px solid;
        color: $bg-black;
        background-color: white;
        font-weight: bold;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
