$red:#e50815;
$bg-black:rgb(23, 23, 23);
$font: sans-serif;
$green:#57c98c;

@mixin center($display:flex , $jc:center , $ai:center){
    display: $display;
    justify-content: $jc;
    align-items: $ai;
}

@mixin center-column($display:flex , $jc:flex-start , $ai:center , $fd:column ){
    display: $display;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin full-width($padding: 0px , $margin: 0px, $height: 50px ){
    width: calc(100% - (2 * $padding) - (2 * $margin));
    height: $height;
    padding: $padding;
    margin: $margin;
}

.full-screen {
    min-width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.row {
    width: 100%;
    @include center($jc:flex-start);
}

.popup {
    width: 50%;
    height: 50%;
    @include center-column($jc:center);
}

.text-button {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: all ease-in-out 150ms;
    }
}

.errors {
    font-size: 12px;
    color: $red;
    @include full-width($height: 12px);
    @include center();
}

.error-container {
    @include full-width($height:12px);
    width: 90%;
    @include center();
    margin-top: 5px;
}

.valid {
    border: 1px solid $green;
    background-color: #5b7165;
}

.invalid {
    border: 1px solid $red;
    background-color: #a8424299;
}

.valid-form-button {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.9;
    }
    
    50% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0.9;
    }
  }