@import "../../var.scss";


.video-wrapper {
    height: 100%;
    width: 100% !important;
    @include center();
    background-color: aliceblue;
}

.video-js {
    min-height: 360px;
    min-width: 640px;

    @media (max-width:680px) {
        min-width: 100%;
    }
}